.wrapper {
    padding-top: 140px;
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/images/MainBack.png");
}
.container{
    border-radius: 10px;
    margin-left: 40%;
    height: fit-content;
    width: 300px;
    display: grid;
    background-image: url("../../assets/images/LoginBack.jpg");
    grid-template-areas: "back info";
}
@keyframes reject {
    0% {
        top: -200px;
    }
    100% {
        top: 30px;
    }
}
.block-error{
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    left: 40%;
    width: 380px;
    height: 60px;
    top: 30px;
    border-radius: 10px;
    background-color: red;
    opacity: 0.5;
    animation: reject 1s;
}

.title {
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.error{
    color: red;
    font-size: 15px;
    margin-top: -9px;
    margin-left: 10px;
}
.form {
    margin-top: 20px;
    margin-left: 1px;
    margin-bottom: 20px;
    grid-area: info;
    display: flex;
    flex-direction: column;
}
.item{
    color: white;
}
.form-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    margin-left: -57px;
}
.or{
    color: #808080;
    margin-left: 90px;
    margin-top: 2px;
}
.registration{
    color: #3d804f;
    border: 1px solid #3d804f;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
    display:flex;
    align-items:center;
    height: 40px;
    width: 190px;
    justify-content:center;
    text-decoration:none;
    font-size: 18px;
}
.registration:hover {
    color: #3d804f;
}
.field{
    outline: none;
    width: 190px;
    font-size: 15px;
    border: none;
    padding: 6px 0 4px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.button{
    outline: none;
    margin-top: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 5px;
    background-color: #3d804f;
    display:flex;
    align-items:center;
    border: none;
    height: 40px;
    width: 190px;
    justify-content:center;
    text-decoration:none;
    color: white;
    font-size: 18px;
}
